<form method="post" action="{{ path('duree_pret_delete', {'id': duree_pret.id}) }}" onsubmit="return confirm('Etes-vous certain de supprimer cette durée?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ duree_pret.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
