{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h3>Modification durée de prêt</h3>
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('duree_pret_index') }}">retour à la liste</a>
    <div class="row">
        <div class="col-4">
            {{ include('duree_pret/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            <div class="mt-3"> {{ include('duree_pret/_delete_form.html.twig') }}</div>
        </div>

    </div>
{% endblock %}
