{% extends 'base.html.twig' %}

{% block title %}Gestion durée{% endblock %}

{% block body %}
    <h1>Gestion durée de prêt</h1>

    <a href="{{ path('duree_pret_new') }}">Ajouter une durée</a>

    <table class="table table-bordered border">
        <thead class="thead-light text-center">
            <tr>
                <th>Nom durée</th>
                <th>Durée de fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for duree_pret in duree_prets %}
            <tr>
                <td>{{ duree_pret.nom }}</td>
                <td>{{ duree_pret.dateFin ? duree_pret.dateFin|date('d/m/Y') : '' }}</td>
                <td class="text-center">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-warning" href="{{ path('duree_pret_edit', {'id': duree_pret.id}) }}">Modifier</a>
                        </div>
                        <div class="col">
                            {{ include('duree_pret/_delete_form.html.twig') }}</a>
                        </div>
                    </div>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
