{% extends 'base.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block body %}
    <h1>Ajout d'une durée de prêt</h1>
    <a href="{{ path('duree_pret_index') }}">retour à la liste</a>

    <div class="row mt-3 ml-3">
        {{ include('duree_pret/_form.html.twig') }}
    </div>



{% endblock %}
