{% extends 'base.html.twig' %}

{% block title %}Reset{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">


            <div class="container border border-primary p-5 bg-light">
                <h1 class="h1 mb-3 font-weight-bold text-center border-bottom border-primary pb-3">Changement de mot de passe</h1>
                <div class="col-sm-8 mx-auto">
                    {{ form_start(form) }}
                    {{ form_start(form) }}
                    <div class="row mt-3">
                        <div class="col-sm"><label>Nouveau mot de passe</label></div>
                        <div class="col-sm">{{ form_widget(form.password) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm"><label>Confirmation</label></div>
                        <div class="col-sm">{{ form_widget(form.confirm) }}</div>
                    </div>

                    <span class="row mt-3 mb-3" id="confirm-message"></span>

                        {{ form_end(form) }}


                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

        </div>
        <div class="col-3"></div>
    </div>
    <script type="text/javascript">

        $('#form_confirm').keyup(function(){
            //Store the field objects into variables ...
            var password = $('#form_password');
            var confirm  = $('#form_confirm');
            var message  = $('#confirm-message');

            var bad_color  = "#fff3cd";

            if(password.val() === confirm.val()) {
                message.html('');
                $('#form_save').prop('disabled', false);
            }else{
                $('#form_save').prop('disabled', true);
                confirm.css('background-color', bad_color);
                message.html('Mot de passe différent');
            }
        });

    </script>

{% endblock %}
