{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="container-fluid border border-primary p-5 mx-auto bg-light">
				<div class="text-center">
					<h1 class="h1 font-weight-bold">Bienvenue sur Empruntica </h1>
					<h3 class="h3 border-bottom border-primary pb-3">la plateforme d'emprunt par M.A.PA</h3>
					<div class="container pb-xl-5">
						<img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/fr/thumb/3/37/Universit%C3%A9_de_Picardie_%28logo%29.svg/543px-Universit%C3%A9_de_Picardie_%28logo%29.svg.png" width=150>
					</div>

					<div class="row">
						<div class="col">
							<a href="{{ path('etudiant_form') }}" class="nav-link btn btn-primary">Créer un compte</a>
						</div>
						<div class="col">
							<a href="{{ path('app_login') }}" class="nav-link btn btn-primary">Se connecter / Faire une demande de prêt</a>
						</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}