{% extends 'base.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block body %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="container border border-primary p-5 bg-light">
                <h1 class="h1 mb-3 font-weight-bold text-center border-bottom border-primary pb-3">Authentification</h1>
                <div class="col-sm-8 mx-auto">
                    <label class="font-weight-bolder" for="inputEmail">E-mail</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

                    <label class="font-weight-bolder" for="inputPassword" class="mt-2">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-primary btn-block mt-3" type="submit">
                        Se connecter
                    </button>
                </div>
            </div>
        </form>
        <a href="{{ path('app_get_reset')}}">Mot de passe oublié ?</a>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}
