{% extends 'base.html.twig' %}

{% block title %}Reset{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">


            <div class="container border border-primary p-5 bg-light">
                <h1 class="h1 mb-3 font-weight-bold text-center border-bottom border-primary pb-3">Demande d'un nouveau mot de passe</h1>
                <p class="text-center">Un mail vous sera envoyé à cette adresse avec un mot de passe temporaire</p>
                <div class="col-sm-8 mx-auto">

                    {{ form_start(form) }}
                    {{ form_start(form) }}

                        <div class="row mt-3">
                            <div class="col-sm"><label>Email</label></div>
                            <div class="col-sm">{{ form_widget(form.email) }}</div>
                        </div>


                        {{ form_end(form) }}


                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

        </div>
        <div class="col-3"></div>
    </div>

{% endblock %}
