{{ form_start(form) }}
    {{ form_start(form) }}
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm">

                <div class="row mt-3">
                    <div class="col-sm"><label>Accès matériel:</label></div>
                    <div class="col-sm">{{ form_widget(form.idAccesMateriel) }}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm"><label>Type matériel:</label></div>
                    <div class="col-sm">{{ form_widget(form.idTypeMateriel) }}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm">Statut:</div>
                    <div class="col-sm">{{ form_widget(form.idStatutMateriel) }}</div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm">Description état:</div>
                    <div class="col-sm">{{ form_widget(form.etat) }}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm">Identifiant unique:</div>
                    <div class="col-sm">{{ form_widget(form.codeBarre) }}</div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!--<button class="btn btn-info">{{ button_label|default('Save') }}</button>-->
        <button class="btn btn-primary float-right mt-2">Enregistrer</button>
    </div>

{{ form_end(form) }}


