{% extends 'base.html.twig' %}

{% block title %}Modification Equipement{% endblock %}

{% block body %}
    <h3>Modification de l'équipement</h3>
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('dossier_pret_dashboard', {"page": "equipement"}) }}">Retour à la liste</a>
    <div class="row">
        <div class="col-4">
            {{ include('equipement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            <div class="mt-2">{{ include('equipement/_delete_form.html.twig') }}</div>

        </div>

    </div>





{% endblock %}
