
<h3>Gestion des équipements</h3>

<a href="{{ path('equipement_new') }}">Ajouter un équipement au stock</a>
<table class="table table-sm table-bordered" id="table">
    <thead class="thead-light text-center">
        <tr>
            <th>Famille</th>
            <th>Type materiel</th>
            <!--<th>Description</th>-->
            <th>Code Barre</th>
            <th>Etat</th>
            <th>Status</th>
            <th>Accès</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for equipement in equipements %}
        <tr>
            <td>{{ equipement.idTypeMateriel.idFamille.nom }}</td>
            <td>{{ equipement.idTypeMateriel }}</td>
            <!--<td>{{ equipement.idTypeMateriel.description }}</td>-->
            <td>{{ equipement.codebarre }}</td>
            <td>{{ equipement.etat }}</td>
            <td>{{ equipement.idStatutMateriel  }}</td>
            <td>{{ equipement.idAccesMateriel }}</td>
            <td>
                <div class ="row text-center">
                    <div class="col-sm float-left">
                        <a class="btn btn-warning" href="{{ path('equipement_edit', {'id': equipement.id}) }}">Modifier</a>
                    </div>
                    <div class="col-sm float-right">
                        {{ include('equipement/_delete_form.html.twig') }}
                    </div>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


