<h3>Inventaire</h3>

<a href="{{ path('equipement_new') }}">Ajouter un équipement au stock</a>
<table class="table table-sm table-bordered">
    <thead class="thead-light text-center">
    <tr>
        <th>Type de matériel</th>
        <th>Total</th>
        <th>En stock</th>
        <th>En prêt</th>
        <th>Autres</th>
    </tr>
    </thead>
    <tbody>
    {% for equipement in equipements %}
        <tr>
            <td>{{ equipement.Type_du_materiel }}</td>
            <td>{{ equipement.Total }}</td>
            <td>{{ equipement.En_Stock }}</td>
            <td>{{ equipement.En_Pret }}</td>
            <td>{{ equipement.Total - equipement.En_Stock - equipement.En_Pret }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



