{% extends 'base.html.twig' %}

{% block title %}Ajout Equipement{% endblock %}

{% block body %}
    <h1>Ajout d'un nouvel équipement dans le stock</h1>
    <a href="{{ path('dossier_pret_dashboard', {"page": "equipement"}) }}">Retour à la liste</a>

    {{ include('equipement/_form.html.twig') }}


{% endblock %}
