{% extends 'base.html.twig' %}

{% block title %}Responsable{% endblock %}

{% block body %}
    <h1>Liste des dossiers en attentes de validation</h1>

    <table class="table" id="table">
        <thead>
        <tr>
            <th>Date de la demande</th>
            <!--<th>Nom</th>
            <th>Prénom</th>
            <th>Mail de l'étudiant</th>-->
            <th>Information étudiant</th>
            <th>Matériel demandé</th>
            <th>Attestation et carte (PDF)</th>
            <!--<th>AttestationAssurance2</th>
            <th>AttestationAssurance3</th>
            <th>AttestationAssurance4</th>-->
            <!--<th>CarteEtudiant2</th>
            <th>CarteEtudiant3</th>
            <th>CarteEtudiant4</th>-->

            <th>Commentaire de l'étudiant</th>
            <th>Date de fin demandée</th>
            <th>Commentaire administration</th>
            <th>Statut</th>
            <th>Durée</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for dossier_pret in dossier_prets %}
            <tr>
                <td>{{ dossier_pret.dateDemande ? dossier_pret.dateDemande|date('d/m/Y') : '' }}</td>
                <td>
                    {{ dossier_pret.nom }}
                    {{ dossier_pret.prenom }}
                    {{ dossier_pret.mailEtudiant }}
                </td>
                <td>{{ dossier_pret.idFamille.nom }}</td>
                <td><a href="{{ asset('uploads/attestation/' ~ dossier_pret.attestationAssurance1 ) }}" target="_blank">Attestation</a>
                <!--<td>{{ dossier_pret.attestationAssurance2 }}</td>
                <td>{{ dossier_pret.attestationAssurance3 }}</td>
                <td>{{ dossier_pret.attestationAssurance4 }}</td>-->
                <a href="{{ asset('uploads/carte/' ~ dossier_pret.carteEtudiant1 ) }}" target="_blank">Carte</a></td>
                <!--<td>{{ dossier_pret.carteEtudiant2 }}</td>
                <td>{{ dossier_pret.carteEtudiant3 }}</td>
                <td>{{ dossier_pret.carteEtudiant4 }}</td>-->


                <td>{{ dossier_pret.commentaireEtudiant }}</td>
                <td>{{ dossier_pret.dateFinSouhaite ? dossier_pret.dateFinSouhaite|date('d/m/Y') : '' }}</td>
                <td>{{ dossier_pret.commentaireAdministration }}</td>
                <td>{{ dossier_pret.idStatut.statutNom }}</td>
                {% if dossier_pret.idDureePret.nom is defined %}
                    <td>{{ dossier_pret.idDureePret.nom }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dureeModal" onclick="listDuree(true, '{{ dossier_pret.id }}')">Valider</button>
                    <!--<a href="{{ path('dossier_pret_valide_responsable', {'id': dossier_pret.id}) }}">Valider</a>-->
                    <!--<a href="{{ path('dossier_pret_rejete_responsable', {'id': dossier_pret.id}) }}">Rejeter</a>-->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentaireModal" onclick="setIdCommentaire('{{ dossier_pret.id }}')">Rejeter</button>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="dureeModal" tabindex="-1" role="dialog" aria-labelledby="dureeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dureeModalLabel">Choix équipement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select id="select">
                        <option></option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" type="submit" onclick="selectionDuree()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="commentaireModal" tabindex="-1" role="dialog" aria-labelledby="commentaireModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentaireModalLabel">Choix durée</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="commentaire"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" type="submit" onclick="commentaireDossier()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


    <script>
        idDossier = null
        valide = false

        $(document).ready( function () {
            $('#table').DataTable();
        } );


        function listDuree(valideBool, id){
            valide = valideBool
            idDossier = id;
            chemin = "/duree/pret/get/list";
            let dropdown = $('#select');
            dropdown.empty();
            lineE = "";

            $.getJSON(chemin, function (data) {
                $.each(data, function (key, entry) {
                lineE = entry.nom.concat(" - "+entry.date_fin);
                dropdown.append($('<option></option>').attr('value', entry.id).text(lineE));
                })
            });
            
        }

        function selectionDuree(){
            idDuree = document.getElementById("select").value;
            chemin = "/dossier/pret/duree/"+idDossier+"/"+idDuree;

            $.get(chemin).done(function() {
                window.location.reload(false);
            });
            
        }

        function setIdCommentaire(id){
            idDossier = id;
        }

        function commentaireDossier(){
            chemin = "/dossier/pret/set/commentaire/"+idDossier;
            commentaire = document.getElementById("commentaire").value;
            $.post( chemin, { "commentaire": commentaire } ).done(function() {
                window.location.reload(false);
            });
            
        }


    </script>


{% endblock %}
