{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-3"></div>
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <h1>Création de  compte</h1>

                    {{ form_start(registrationForm) }}
                    <label>E-mail</label>
                    {{ form_widget(registrationForm.email) }}
                    <label>Mot de passe</label>
                    {{ form_widget(registrationForm.plainPassword) }}
                    <button class="btn btn-primary mt-3">Créer</button>
                    {{ form_end(registrationForm) }}
                </div>
                <div class="col">

                </div>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

{% endblock %}
