{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-3"></div>
        <div class="row">
            <div class="col-6">
                <h1>Ajouter un compte local</h1>
                <a href={{ path('dossier_pret_dashboard_administration', {"page": "utilisateur"}) }}>Retour à la liste</a>
                {{ form_start(registrationForm) }}
                <label>E-mail</label>
                {{ form_widget(registrationForm.email) }}
                <label>Mot de passe</label>
                {{ form_widget(registrationForm.plainPassword) }}
                {% if is_granted('ROLE_INFORMATIQUE') %}
                    <label>Rôles</label>
                    {{ form_widget(registrationForm.roles) }}
                {% endif %}
                <button class="btn btn-primary">Ajouter</button>
                {{ form_end(registrationForm) }}
            </div>
            <div class="col">

            </div>
        </div>
        <div class="col-3"></div>
    </div>

{% endblock %}
