body {
    background: url('https://images4.alphacoders.com/972/thumb-1920-9728.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}