<form method="post" action="{{ path('famille_delete', {'id': famille.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ famille.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
