{{ form_start(form) }}
<div class="col">
    <label>Nom</label>
    {{ form_widget(form.nom) }}
    <label>Description</label>
    {{ form_widget(form.description) }}
    <button class="btn btn-primary mt-3 float-right">{{ button_label|default('Ajouter') }}</button>
</div>

{{ form_end(form) }}
