{% extends 'base.html.twig' %}

{% block title %}Modifier Famille{% endblock %}

{% block body %}
    <h3>Modification d'une famille</h3>
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('dossier_pret_dashboard', {"page": "famille"}) }}">Retour à la liste</a>
    <div class="row">
        <div class="col-4">
            {{ include('famille/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            <div class="mt-3"> {{ include('famille/_delete_form.html.twig') }}</div>
        </div>

    </div>





{% endblock %}
