<h3>Familles d'équipement</h3>
<a href="{{ path('famille_new') }}">Ajouter une nouvelle famille</a>
<table class="table table-sm table-bordered" id="table">
    <thead class="thead-light text-center">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for famille in familles %}
        <tr>
            <td>{{ famille.nom }}</td>
            <td>{{ famille.description }}</td>
            <td class="text-center">
                <!--<a href="{{ path('famille_show', {'id': famille.id}) }}">show</a>-->
                <a class="btn btn-warning" href={{ path('famille_edit', {'id': famille.id}) }}>Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



