{% extends 'base.html.twig' %}

{% block title %}Ajout Famille{% endblock %}

{% block body %}

    <h3>Ajouter une famille</h3>
    <a href="{{ path('dossier_pret_dashboard', {"page": "famille"}) }}">Retour à la liste</a>
        <div class="row">
            <div class="col-4">
                {{ include('famille/_form.html.twig') }}
            </div>
        </div>




{% endblock %}
