{% extends 'base.html.twig' %}

{% block title %}Famille{% endblock %}

{% block body %}
    <h1>Famille</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ famille.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ famille.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ famille.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('famille_index') }}">back to list</a>

    <a href="{{ path('famille_edit', {'id': famille.id}) }}">edit</a>

    {{ include('famille/_delete_form.html.twig') }}
{% endblock %}
