<form method="post" action="{{ path('statut_materiel_delete', {'id': statut_materiel.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce statut?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ statut_materiel.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
