{{ form_start(form) }}
    <label class="mt-3">Nom</label>
    {{ form_widget(form.statutNom) }}
    <label class="mt-3">Description</label>
    {{ form_widget(form.statutDesc) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}

