{% extends 'base.html.twig' %}

{% block title %}Modification statut matériel{% endblock %}


{% block body %}
    <h3>Modification du statut du matériel</h3>
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('dossier_pret_dashboard', {"page": "statut_materiel"}) }}">Retour à la liste</a>
    <div class="row">
        <div class="col-4">
            {{ include('statut_materiel/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            <div class="mt-2">{{ include('statut_materiel/_delete_form.html.twig') }}</div>

        </div>

    </div>





{% endblock %}

