<h3>Statut du type de matériel</h3>
<a href="{{ path('statut_materiel_new') }}">Ajouter un statut</a>
<table class="table table-sm table-bordered" id="table">
    <thead class="thead-light text-center">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for statut_materiel in statut_materiels %}
        <tr>
            <td>{{ statut_materiel.statutNom }}</td>
            <td>{{ statut_materiel.statutDesc }}</td>
            <td class="text-center">
                <a class="btn btn-warning" href="{{ path('statut_materiel_edit', {'id': statut_materiel.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



