{% extends 'base.html.twig' %}

{% block title %}New StatutMateriel{% endblock %}

{% block body %}

    <h3>Ajout d'un statut matériel</h3>

    <a href="{{ path('dossier_pret_dashboard', {"page": "statut_materiel"}) }}">Retour à la liste</a>
    <div class="row">
        <div class="col-4">
            {{ include('statut_materiel/_form.html.twig') }}
        </div>
    </div>


{% endblock %}
