{% extends 'base.html.twig' %}

{% block title %}StatutMateriel{% endblock %}

{% block body %}
    <h1>StatutMateriel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statut_materiel.id }}</td>
            </tr>
            <tr>
                <th>StatutNom</th>
                <td>{{ statut_materiel.statutNom }}</td>
            </tr>
            <tr>
                <th>StatutDesc</th>
                <td>{{ statut_materiel.statutDesc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('statut_materiel_index') }}">back to list</a>

    <a href="{{ path('statut_materiel_edit', {'id': statut_materiel.id}) }}">edit</a>

    {{ include('statut_materiel/_delete_form.html.twig') }}
{% endblock %}
