{# templates/utilisateur/user.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<h1>Test</h1>




<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for utilisateur in utilisateurs %}
      <th scope="row">1</th>
      <td>{{ utilisateur.nom }}</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}