<form method="post" action="{{ path('statut_dossier_delete', {'id': statut_dossier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ statut_dossier.id) }}">
    <button class="btn">Delete</button>
</form>
