{% extends 'base.html.twig' %}

{% block title %}Modification statut dossier{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h3>Modification du statut du dossier</h3>
                <a href={{ path('dossier_pret_dashboard_administration', {"page": "statut_dossier"}) }}>Retour à la liste</a>
                {{ include('statut_dossier/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
            <div class="col">

            </div>
        </div>
    </div>





{% endblock %}
