
<h3>Statut des dossiers de prêt</h3>
<table class="table table-sm table-bordered">
    <thead class="thead-light text-center">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for statut_dossier in statut_dossiers %}
        <tr>
            <td>{{ statut_dossier.statutNom }}</td>
            <td>{{ statut_dossier.statutDesc }}</td>
            <td class="text-center">
                <a class="btn btn-warning" href="{{ path('statut_dossier_edit', {'id': statut_dossier.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

