{% extends 'base.html.twig' %}

{% block title %}New StatutDossier{% endblock %}

{% block body %}
    <h1>Create new StatutDossier</h1>

    {{ include('statut_dossier/_form.html.twig') }}

    <a href="{{ path('statut_dossier_index') }}">back to list</a>
{% endblock %}
