{% extends 'base.html.twig' %}

{% block title %}StatutDossier{% endblock %}

{% block body %}
    <h1>StatutDossier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statut_dossier.id }}</td>
            </tr>
            <tr>
                <th>StatutNom</th>
                <td>{{ statut_dossier.statutNom }}</td>
            </tr>
            <tr>
                <th>StatutDesc</th>
                <td>{{ statut_dossier.statutDesc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('statut_dossier_index') }}">back to list</a>

    <a href="{{ path('statut_dossier_edit', {'id': statut_dossier.id}) }}">edit</a>

    {{ include('statut_dossier/_delete_form.html.twig') }}
{% endblock %}
