<h3>Personnel de l'UPJV</h3>

<a href="{{ path('professeur_form') }}">Ajouter un compte</a>
<table class="table table-sm table-bordered" id="table">
    <thead class="thead-light text-center">
    <tr>
        <th>Adresse-mail</th>
        <th>Nom prénom</th>
        <th>Suppresion</th>
        <th>Activation</th>
    </tr>
    </thead>
    <tbody>
    {% for professeur in professeurs %}
        <tr>
            <td>{{ professeur.email }}</td>
            <td>{{ professeur.nom }} {{ professeur.prenom }}</td>
            <td class="text-center">
                <form method="post" action="{{ path('professeur_delete', {'id': professeur.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir refuser ce personnel de l\'UPJV?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ professeur.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>
            {% if professeur.activate == false %}
                <td class="text-center">
                    <a class="btn btn-warning" href={{ path('professeur_valide', {'id': professeur.id}) }}>Valider</a>
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



