{% extends 'base.html.twig' %}

{% block title %}Création compte{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 ">
                <div class="container-fluid border border-primary p-5 mx-auto bg-light">
                    <h3 class="h2 font-weight-bold border-bottom border-primary pb-3 text-center">Création d'un personnel de l'UPJV</h3>

                    <span class="alert-warning"> {% if message is defined %} {{ message }}  {% endif %}</span>

                    {{ form_start(registrationForm) }}
                    <label class="font-weight-bold mt-2">Nom</label>
                    {{ form_widget(registrationForm.nom) }}
                    <label class="font-weight-bold mt-2">Prénom</label>
                    {{ form_widget(registrationForm.prenom) }}
                    <label class="font-weight-bold mt-2">E-mail UPJV</label>
                    {{ form_widget(registrationForm.email) }}
                    <label class="font-weight-bold mt-2">Mot de passe</label>
                    {{ form_widget(registrationForm.password) }}
                    <label class="font-weight-bold mt-2">Confirmation</label>
                    <input class="form-control" type="password" id="professeur_confirm" required>
                    <span class="row mt-3 mb-3" id="confirm-message"></span>

                    <button class="btn btn-primary btn-block mt-3" id="form_save">Créer</button>

                    {{ form_end(registrationForm) }}


                    <div class="col"></div>
                </div>

            </div>
        </div>
        <div class="col-3"></div>

    </div>

    <script type="text/javascript">

        $('#professeur_confirm').keyup(function(){
            //Store the field objects into variables ...
            var password = $('#professeur_password');
            var confirm  = $('#professeur_confirm');
            var message  = $('#confirm-message');

            var bad_color  = "#fff3cd";

            if(password.val() === confirm.val()) {
                message.html('');
                $('#form_save').prop('disabled', false);
            }else{
                $('#form_save').prop('disabled', true);
                confirm.css('background-color', bad_color);
                message.html('Mot de passe différent');
            }
        });

    </script>
{% endblock %}
