<form method="post" action="{{ path('dossier_pret_delete', {'id': dossier_pret.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dossier_pret.id) }}">
    <button class="btn">Delete</button>
</form>
