{{ form_start(form) }}
    {{ form_start(form) }}
<div class="container">
	<div class="row mt-5">
		<div class="col-sm-9">
			<div class="form-group">
			{% if is_granted(['ROLE_ETUDIANT']) %}
				<div class="row">
					<div class="col-sm">{{ form_label(form.formation) }}</div>
					<div class="col-sm">{{ form_widget(form.formation) }}</div>
				</div>
			{% endif %}
				<label for="familles">Type de matériel</label>
				<select name="familles" class="form-control" id="famille">
					{% for f in familles %}
						{#							  {% if f.P_Dispo == 0 %}#}
						{#								  <option value={{f.id}} disabled>{{ f.Disponible }}</option>#}
						{#							  {% else %}#}
						<option value={{f.id}}>{{ f.Disponible }}</option>
						{#							  {% endif %}#}

					{% endfor %}
				</select>
			</div>
			{% if is_granted(['ROLE_ETUDIANT']) %}
				<div class="row">
					<div class="col-sm">{{ form_label(form.attestationAssurance1) }}</div>
					<div class="col-sm">{{ form_widget(form.attestationAssurance1) }}</div>
				</div>
				<div class="row">
					<div class="col-sm">{{ form_label(form.carteEtudiant1) }}</div>
					<div class="col-sm">{{ form_widget(form.carteEtudiant1) }}</div>
				</div>
			{% endif %}
			<div class="row mt-2">
				<div class="col-sm"><label>Date de fin souhaitée du prêt</label></div>
				<div class="col-sm">{{ form_widget(form.dateFinSouhaite) }}</div>
			</div>
			<div class="row mt-2">
				<div class="col-sm"><label>Raison de la demande</label></div>
				<div class="col-sm">{{ form_widget(form.commentaireEtudiant) }}</div>
			</div>
			<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal">Lire les conditions générales</button>
			<div class="form-check mt-3">
				<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
				<label class="form-check-label" for="defaultCheck1">
					Je certifie avoir lu les conditions générales de prêt
				</label>
			</div>
			<div class="form-check mb-3">
				<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
				<label class="form-check-label" for="defaultCheck1">
					Je certifie demander un prêt de matériel
				</label>
			</div>

			<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Conditions générales</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Je reconnais avoir souscrit une assurance responsabilité civile dont une attestation récente est jointe à la présente. Je reconnais avoir été informé qu’en l’absence de toute référence à une assurance couvrant ma responsabilité civile, le prêt du matériel ne peut pas avoir lieu.
							Il m’est également rappelé que le matériel prêté reste la propriété de l’Université de Picardie Jules Verne. Ainsi en cas de perte ou détérioration de ceux-ci je serai tenu entièrement responsable.
							Je m’engage à restituer le matériel à l’administration du Département Informatique aux dates indiquées ci-dessous. Dans le cas contraire, mon dossier sera bloqué lors du jury de fin d’année.

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>



			<button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>



{{ form_end(form) }}


