{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}


	<div class="container-fluid">
		<div class="row">

				<ul class="nav flex-column border-right pr-1">
					<li class="nav-item text-left mt-1 border-bottom">
						<h5>Administration</h5>
					</li>
					{% if is_granted(['ROLE_ADMIN', 'ROLE_INFORMATIQUE']) %}
					<li class="nav-item mt-3">
						<a href="{{ path('dossier_pret_dashboard_administration', {"page": "utilisateur"}) }}">Utilisateurs locaux</a>
					</li>
					<li class="nav-item mt-1">
						<a href="{{ path('dossier_pret_dashboard_administration', {"page": "statut_dossier"}) }}">Statut dossier prêt</a>
					</li>
					{% endif %}
					<li class="nav-item mt-1">
						<a href="{{ path('dossier_pret_dashboard_administration', {"page": "etudiant"}) }}">Liste étudiant</a>
					</li>
					<li class="nav-item mt-1">
						<a href="{{ path('dossier_pret_dashboard_administration', {"page": "professeur"}) }}">Liste personnel de l'UPJV</a>
					</li>
					<li class="nav-item mt-1">
						<a href="{{ path('dossier_pret_dashboard_administration', {"page": "activation"}) }}">Activation étudiant</a>
					</li>
				</ul>


			<div class="h-100 col border-primary">
				{% if page is defined %}
					{% if page == "utilisateur" %}
						{{ render(path('user_index')) }}
					{% elseif page == "statut_dossier" %}
						{{ render(path('statut_dossier_index')) }}
					{% elseif page == "activation" %}
						{{ render(path('etudiant_liste_activate')) }}
					{% elseif page == "etudiant" %}
						{{ render(path('etudiant_liste')) }}
				    {% elseif page == "professeur" %}
						{{ render(path('professeur_liste')) }}
					{% endif %}
				{% else %}
					{{ render(path('user_index')) }}
				{% endif %}
			</div>
		</div>
	</div>

	<script>
		$(document).ready( function () {
			var table = $('#table');

			table.DataTable( {
				"language": {
					"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
				}
			} );

			$('input[name=master]').on('change', function () {
				//build a regex filter string with an or(|) condition
				var master = $('input[name=master]:checked').val();

				//filter in column 3, with an regex, no smart filtering, not case sensitive
				table.DataTable().column(3).search(master, false, false).draw(false);
			});
		} );

	</script>

{% endblock %}