{% extends 'base.html.twig' %}

{% block title %}Attente étudiant{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3>Dossier en attente de l'étudiant</h3>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="master" id="inlineRadio2" value="" checked="">
            <label class="form-check-label" for="inlineRadio2">All</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="master" id="inlineRadio1" value="MIAGE">
            <label class="form-check-label" for="inlineRadio1">MIAGE</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="master" id="inlineRadio2" value="ISRI">
            <label class="form-check-label" for="inlineRadio2">ISRI</label>
        </div>
        <table class="table table-bordered table-sm table-striped" id="table">
            <thead class="thead-light text-center">
                <tr>
                    <th>Action</th>
                    <th>Statut</th>
                    <th>Date de demande</th>
                    <th>Durée du prêt</th>
                    <th>Information étudiant</th>
                    <th>Famille</th>
                    <th>Information équipement</th>
                    <th>Commentaire Informatique</th>
                </tr>
            </thead>
            <tbody>
            {% for dossier_pret in dossier_prets %}
                <tr>
                    <td><a class="btn btn-primary" href="{{ path('dossier_pret_etudiant_emprunt', {'id': dossier_pret.id}) }}">✓</a></td>
                    <td>{{ dossier_pret.idStatut.statutNom }}</td>
                    <td>{{ dossier_pret.dateDemande ? dossier_pret.dateDemande|date('d/m/Y') : '' }}</td>
                    {% if dossier_pret.idDureePret.nom is defined %}
                        <td>{{ dossier_pret.idDureePret.nom }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if  dossier_pret.IdEtudiant is not null %}
                        {% set person = dossier_pret.IdEtudiant %}
                    {% endif %}
                    {% if  dossier_pret.IdProfesseur is not null %}
                        {% set person = dossier_pret.IdProfesseur %}
                    {% endif %}
                    <td>
                        <div class="container-fluid">
                            <div class="row">
                                {{ person.nom }}
                                {{ person.prenom }}
                                /  {{ dossier_pret.formation }}
                            </div>
                            <div class="row">
                                {{ person.email }}
                            </div>
                            {% if  dossier_pret.IdEtudiant is not null %}
                                <div class="row">
                                    {{ person.numero }}
                                </div>
                            {% endif %}
                        </div>
                    </td>

                    <td>{{ dossier_pret.idFamille.nom }}</td>
                    {% if  dossier_pret.idEquipement is not null %}
                        <td>{{ dossier_pret.idEquipement.idTypeMateriel.nom }} - {{ dossier_pret.idEquipement.idTypeMateriel.description }} - {{ dossier_pret.idEquipement.codeBarre }}</td>
                    {% else %}
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#equipementModal" onclick="listEquipement('{{ dossier_pret.idFamille.nom }}', '{{ dossier_pret.id }}')">
                                Affectation équipement
                            </button>
                        </td>
                    {% endif %}
                    <td>{{ dossier_pret.commentaireInformatique }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="18">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="equipementModal" tabindex="-1" role="dialog" aria-labelledby="equipementModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title font-weight-bold" id="equipementModalLabel">Choix équipement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row"><label for="select">Equipement disponible</label></div>
                        <div class="row">
                            <select id="select" class="custom-select custom-select-sm">
                                <option></option>
                            </select>
                        </div>

                        <div class="row mt-3"><label for="commentaire">Commentaire</label></div>
                        <div class="row"><textarea class="form-control" type="text" id="commentaire" name="commentaire"></textarea></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" type="submit" onclick="selectionEquipement()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>

    <script src={{ asset('assets/js/dataTables.buttons.min.js') }}></script>
    <script src={{ asset('assets/js/jszip.min.js') }}></script>
    <script src={{ asset('assets/js/buttons.html5.min.js') }}></script>
    <script src="{{ asset('assets/js/date-euro.js') }}"></script>

    <script>
        idDossier = null;
        idEquipement = null;

        $(document).ready( function () {
            var table = $('#table');

            table.DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                dom:
                    "<'row'<'col-sm-3'B>>"+
                    "<'row'<'col-sm-3'l><'col-sm-6 text-center'><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: ['excel'],
                columnDefs: [
                    { type: 'date-euro', targets: 0 }
                ]
            } );

            $('input[name=master]').on('change', function () {
                //build a regex filter string with an or(|) condition
                var master = $('input[name=master]:checked').val();

                //filter in column 3, with an regex, no smart filtering, not case sensitive
                table.DataTable().column(4).search(master, false, false).draw(false);
            });
        } );

        function listEquipement(famille, id){
            idDossier = id;
            chemin = "/dossier/pret/informatique/listEquipement/"+famille;
            let dropdown = $('#select');
            dropdown.empty();
            lineE = "";

            $.getJSON(chemin, function (data) {
                $.each(data, function (key, entry) {
                    lineE = entry.nom_materiel.concat(" - "+entry.description+" - "+entry.code_barre);
                    dropdown.append($('<option></option>').attr('value', entry.id_equipement).text(lineE));
                })
            });
        }

        function selectionEquipement(){
            idEquipement = document.getElementById("select").value;
            chemin = "/dossier/pret/equipementafter/"+idDossier+"/"+idEquipement;
            commentaire = $( "#commentaire" ).serialize();
            /*$.get(chemin, function(data) {
                window.location.reload(false);
            });*/
            $.post( chemin, commentaire )
                .done(function() {
                    window.location.reload(false);
                });
            /*$.post( chemin, function( data ) {
                window.location.reload(false);
            });*/

        }
    </script>
    
{% endblock %}
