{% extends 'base.html.twig' %}

{% block title %}Création Dossier Pret{% endblock %}

{% block body %}
    <h1>Création de mon dossier de prêt</h1>
	<form>
	    <div class="container">
	    	<div class="row">
	    		<div class="col-sm">
				  	<div class="form-group">
				  		<label for="typemateriel">Type de matériel</label>
				    	<select class="form-control" id="materiel">
					      {% for f in familles %}
					      	<option value={{d.id}}>{{ f.nom }}</option>
					      {% endfor %}
			    		</select>
				    </div>
				    <div class="form-group">
				  		<label for="choixduree">Choix de la durée</label>
				    	<input type="date" name="duree">
				    </div>
				    <div class="form-group">
				  		<label for="assurance">Assurance (PDF)</label>
				    	<input type="file" name="assurance">
				    </div>
				    <div class="form-group">
				  		<label for="carteetudiant">Carte étudiant (PDF)</label>
				    	<input type="file" name="carte">
				    </div>
				    <div class="form-group">
				  		<label for="commentaire">Commentaire</label>
				    	<input type="text" name="commentaire">
				    </div>
					<button>Lire les conditions générales</button>
					<div class="form-group">
						<label for="condition1"> Je certifie avoir lu les conditions générales de prêt</label>
						<input type="checkbox">
					</div>
					<div class="form-group">
						<label for="condition2"> Je certifie demander un prêt de matériel</label>
						<input type="checkbox">
					</div>
					<button>Envoyer</button>
					<div class="col-sm">	
				</div>
			</div>
		</div>
	</form>
    <a href="{{ path('dossier_pret_index') }}">back to list</a>
{% endblock %}
