{% extends 'base.html.twig' %}

{% block title %}Modification Dossier{% endblock %}

{% block body %}
    <h3>Modification du dossier de prêt</h3>
    <a href="{{ path('dossier_pret_mon_dossier') }}">Retour à mes dossiers</a>

    {{ include('dossier_pret/_form.html.twig', {'button_label': 'Modifier'}) }}

    <script>
        $('#dossier_pret_attestationAssurance1').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#dossier_pret_carteEtudiant1').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#dossier_pret_type_edit_attestationAssurance1').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#dossier_pret_type_edit_carteEtudiant1').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>

{% endblock %}
