{% extends 'base.html.twig' %}

{% block title %}Retour{% endblock %}

{% block body %}
    <h1>Retour équipement</h1>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="master" id="inlineRadio2" value="" checked="">
        <label class="form-check-label" for="inlineRadio2">All</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="master" id="inlineRadio1" value="MIAGE">
        <label class="form-check-label" for="inlineRadio1">MIAGE</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="master" id="inlineRadio2" value="ISRI">
        <label class="form-check-label" for="inlineRadio2">ISRI</label>
    </div>
    <table class="table table-bordered table-sm table-striped" id="table">
        <thead class="thead-light text-center">
        <tr>
            <th>Action</th>
            <th>Statut</th>
            <th>Date de demande</th>
            <th>Durée du prêt</th>
            <th>Information</th>
            <th>Famille</th>
            <th>Information équipement</th>
            <th>Commentaire Informatique</th>
        </tr>
        </thead>
        <tbody>
        {% for dossier_pret in dossier_prets %}
            <tr>
                <td class="text-center"><a class="btn btn-primary" href="{{ path('dossier_pret_etudiant_retour', {'id': dossier_pret.id}) }}">⇅ Retour</a></td>
                <td>{{ dossier_pret.idStatut.statutNom }}</td>
                <td>{{ dossier_pret.dateDemande ? dossier_pret.dateDemande|date('d/m/Y') : '' }}</td>
                {% if dossier_pret.idDureePret.nom is defined %}
                    <td>{{ dossier_pret.idDureePret.nom }}</td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>
                    {% if  dossier_pret.IdEtudiant is not null %}
                        {% set person = dossier_pret.IdEtudiant %}
                    {% endif %}
                    {% if  dossier_pret.IdProfesseur is not null %}
                        {% set person = dossier_pret.IdProfesseur %}
                    {% endif %}
                    <div class="container-fluid">
                        <div class="row">
                            {{ person.nom }}
                            {{ person.prenom }}
                            /  {{ dossier_pret.formation }}
                        </div>
                        <div class="row">
                            {{ person.email }}
                        </div>
                        {% if  dossier_pret.IdEtudiant is not null %}
                            <div class="row">
                                {{ dossier_pret.IdEtudiant.numero }}
                            </div>
                        {% endif %}
                    </div>
                </td>

                <td>{{ dossier_pret.idFamille.nom }}</td>
                <td>{{ dossier_pret.idEquipement.idTypeMateriel.nom }} - {{ dossier_pret.idEquipement.idTypeMateriel.description }} - {{ dossier_pret.idEquipement.codeBarre }}</td>
                <td>{{ dossier_pret.commentaireInformatique }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src={{ asset('assets/js/dataTables.buttons.min.js') }}></script>
    <script src={{ asset('assets/js/jszip.min.js') }}></script>
    <script src={{ asset('assets/js/buttons.html5.min.js') }}></script>
    <script src="{{ asset('assets/js/date-euro.js') }}"></script>

    <script>
        $(document).ready( function () {
            var table = $('#table');

            table.DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                dom:
                    "<'row'<'col-sm-3'B>>"+
                    "<'row'<'col-sm-3'l><'col-sm-6 text-center'><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: ['excel'],
                columnDefs: [
                    { type: 'date-euro', targets: 0 }
                ]
            } );

            $('input[name=master]').on('change', function () {
                //build a regex filter string with an or(|) condition
                var master = $('input[name=master]:checked').val();

                //filter in column 3, with an regex, no smart filtering, not case sensitive
                table.DataTable().column(4).search(master, false, false).draw(false);
            });
        } );
    </script>


{% endblock %}
