{% extends 'base.html.twig' %}

{% block title %}DossierPret index{% endblock %}

{% block body %}
    <h1>DossierPret index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AttestationAssurance1</th>
                <th>AttestationAssurance2</th>
                <th>AttestationAssurance3</th>
                <th>AttestationAssurance4</th>
                <th>CarteEtudiant1</th>
                <th>CarteEtudiant2</th>
                <th>CarteEtudiant3</th>
                <th>CarteEtudiant4</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>MailEtudiant</th>
                <th>DateDemande</th>
                <th>CommentaireEtudiant</th>
                <th>DateFinSouhaite</th>
                <th>CommentaireAdministration</th>
                <th>Famille</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier_pret in dossier_prets %}
            <tr>
                <td>{{ dossier_pret.id }}</td>
                <td><a href="{{ asset('uploads/attestation/' ~ dossier_pret.attestationAssurance1 ) }}" target="_blank">Voir (PDF)</a></td>
                <td>{{ dossier_pret.attestationAssurance2 }}</td>
                <td>{{ dossier_pret.attestationAssurance3 }}</td>
                <td>{{ dossier_pret.attestationAssurance4 }}</td>

                <td><a href="{{ asset('uploads/carte/' ~ dossier_pret.carteEtudiant1 ) }}" target="_blank">Voir (PDF)</a></td>
                <td>{{ dossier_pret.carteEtudiant2 }}</td>
                <td>{{ dossier_pret.carteEtudiant3 }}</td>
                <td>{{ dossier_pret.carteEtudiant4 }}</td>
                <td>{{ dossier_pret.prenom }}</td>
                <td>{{ dossier_pret.nom }}</td>
                <td>{{ dossier_pret.mailEtudiant }}</td>
                <td>{{ dossier_pret.dateDemande ? dossier_pret.dateDemande|date('Y-m-d') : '' }}</td>
                <td>{{ dossier_pret.commentaireEtudiant }}</td>
                <td>{{ dossier_pret.dateFinSouhaite ? dossier_pret.dateFinSouhaite|date('Y-m-d') : '' }}</td>
                <td>{{ dossier_pret.commentaireAdministration }}</td>
                <td>{{ dossier_pret.idFamille.nom }}</td>
                <td>
                    <a href="{{ path('dossier_pret_show', {'id': dossier_pret.id}) }}" target="_blank">show</a>
                    <a href="{{ path('dossier_pret_edit', {'id': dossier_pret.id}) }}" target="_blank">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dossier_pret_new') }}">Create new</a>
{% endblock %}
