{% extends 'base.html.twig' %}

{% block title %}Informatique{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <ul class="nav flex-column border-right pr-1">
                <li class="nav-item text-left mt-1 border-bottom">
                            <h5>Informatique</h5>
                    </li>

                <li class="nav-item mt-1">
                    <a href="{{ path('dossier_pret_dashboard', {"page": "famille"}) }}">Famille</a>
                </li>
                <li class="nav-item mt-1">
                    <a href="{{ path('dossier_pret_dashboard', {"page": "type_materiel"}) }}">Type de matériel</a>
                </li>
                <li class="nav-item mt-1">
                    <a href="{{ path('dossier_pret_dashboard', {"page": "equipement"}) }}">Equipement</a>
                </li>
                <li class="nav-item mt-1">
                    <a href="{{ path('dossier_pret_dashboard', {"page": "inventaire"}) }}">Inventaire</a>
                </li>
                <li class="nav-item mt-1">
                    <a href="{{ path('dossier_pret_dashboard', {"page": "statut_materiel"}) }}">Statut matériel</a>
                </li>
            </ul>


            <div class="col border-primary">
                {% if page is defined %}
                    {% if page == "inventaire" %}
                        {{ render(path('statut_materiel_inventaire')) }}
                    {% elseif page == "equipement" %}
                        {{ render(path('equipement_index')) }}
                    {% elseif page == "famille" %}
                        {{ render(path('famille_index')) }}
                    {% elseif page == "type_materiel" %}
                        {{ render(path('type_materiel_index')) }}
                    {% elseif page == "statut_materiel" %}
                        {{ render(path('statut_materiel_index')) }}
                    {% endif %}
                {% else %}
                    {{ render(path('statut_materiel_inventaire')) }}
                {% endif %}
            </div>
        </div>
    </div>

    <script src={{ asset('assets/js/dataTables.buttons.min.js') }}></script>
    <script src={{ asset('assets/js/jszip.min.js') }}></script>
    <script src={{ asset('assets/js/buttons.html5.min.js') }}></script>
    <script src="{{ asset('assets/js/date-euro.js') }}"></script>

    <script>
        $(document).ready( function () {
            $('#table').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                dom:
                    "<'row'<'col-sm-3'B>>"+
                    "<'row'<'col-sm-3'l><'col-sm-6 text-center'><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: ['excel'],
                columnDefs: [
                    { type: 'date-euro', targets: 0 }
                ]
            } );
        } );
    </script>




{% endblock %}