{% extends 'base.html.twig' %}

{% block title %}Mes dossiers{% endblock %}

{% block body %}
    <h5><a href={{ path('dossier_pret_new') }}>Retour</a></h5>
    <div class="container-fluid p-2">
        <h3>Mon compte</h3>
        <div class="row">Email: {% if app.user.username  %}{{ app.user.username  }}{% endif %}</div>
        <div class="row"><a href="{{ path('app_reset') }}">Changer mon mot de passe</a></div>
    </div>

    <div class="container-fluid mt-3">
        <h3>Mes dossiers</h3>


        <table class="table table-striped table-bordered">
            <thead class="thead-light text-center">
                <tr>
                    <th>Statut</th>
                    <th>Date de demande</th>
                    <th>Date fin souhaitée</th>
                    <th>Information étudiant</th>
                    <th>Commentaire étudiant</th>
                    <th>Commentaire administration</th>
                    <th>Famille équipement</th>
                    {% if is_granted(['ROLE_ETUDIANT']) %}
                        <th>Attestation assurance</th>
                        <th>Carte étudiant</th>
                    {% endif %}
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for dossier_pret in dossier_prets %}
                <tr>
                    <td>{{ dossier_pret.idStatut.statutNom }}</td>
                    <td>{{ dossier_pret.dateDemande ? dossier_pret.dateDemande|date('d/m/Y') : '' }}</td>
                    <td>{{ dossier_pret.dateFinSouhaite ? dossier_pret.dateFinSouhaite|date('d/m/Y') : '' }}</td>
                    {% if is_granted(['ROLE_PROFESSEUR']) %}
                        <td>
                            {{ dossier_pret.IdProfesseur.nom }}
                            {{ dossier_pret.IdProfesseur.prenom }}
                            {{ dossier_pret.IdProfesseur.email }}
                        </td>
                    {% endif %}
                    {% if is_granted(['ROLE_ETUDIANT']) %}
                        <td>
                            {{ dossier_pret.IdEtudiant.nom }}
                            {{ dossier_pret.IdEtudiant.prenom }}
                            {{ dossier_pret.IdEtudiant.email }}
                        </td>
                    {% endif %}
                    <td>{{ dossier_pret.commentaireEtudiant }}</td>
                    <td>{{ dossier_pret.commentaireAdministration }}</td>
                    <td>{{ dossier_pret.idFamille.nom }}</td>
                    {% if is_granted(['ROLE_ETUDIANT']) %}
                        <td>
                            <a href="{{ asset('uploads/attestation/' ~ dossier_pret.attestationAssurance1 ) }}" target="_blank">Voir (PDF)</a>
                            {% if  dossier_pret.attestationAssurance2 != 0 %}
                                <a href="{{ asset('uploads/attestation/' ~ dossier_pret.attestationAssurance2 ) }}" target="_blank">2</a>
                            {% endif %}
                            {% if  dossier_pret.attestationAssurance3 != 0 %}
                                <a href="{{ asset('uploads/attestation/' ~ dossier_pret.attestationAssurance3 ) }}" target="_blank">3</a>
                            {% endif %}
                            {% if  dossier_pret.attestationAssurance4 != 0 %}
                                <a href="{{ asset('uploads/attestation/' ~ dossier_pret.attestationAssurance4 ) }}" target="_blank">4</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ asset('uploads/carte/' ~ dossier_pret.carteEtudiant1 ) }}" target="_blank">Voir (PDF)</a>
                            {% if  dossier_pret.carteEtudiant2 != 0 %}
                                <a href="{{ asset('uploads/carte/' ~ dossier_pret.carteEtudiant2 ) }}" target="_blank">2</a>
                            {% endif %}
                            {% if  dossier_pret.carteEtudiant3 != 0 %}
                                <a href="{{ asset('uploads/carte/' ~ dossier_pret.carteEtudiant3 ) }}" target="_blank">3</a>
                            {% endif %}
                            {% if  dossier_pret.carteEtudiant4 != 0 %}
                                <a href="{{ asset('uploads/carte/' ~ dossier_pret.carteEtudiant4 ) }}" target="_blank">4</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>
                        {% if  dossier_pret.idStatut.id == 1 or dossier_pret.idStatut.id == 3 or dossier_pret.idStatut.id == 5 or dossier_pret.idStatut.id == 9 %}
                            {% if dossier_pret.groupe == false %}
                                <a class="btn btn-warning" href="{{ path('dossier_pret_edit', {'id': dossier_pret.id}) }}">Modifier</a>
                            {% else %}
                                <a class="btn btn-warning" href="{{ path('dossier_pret_edit_groupe', {'id': dossier_pret.id}) }}">Modifier</a>
                            {% endif %}

                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="18">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}
