{% extends 'base.html.twig' %}

{% block title %}Création dossier{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-6">
			<h3>Création du dossier de prêt - personnel</h3>
			{% if is_granted(['ROLE_ETUDIANT']) %}
				<h5><a href="{{ path('dossier_pret_new_groupe') }}">Demande de prêt groupé</a></h5>
			{% endif %}
		</div>

		<div class="col-6 text-right">
			Déjà un dossier en cours?
			<a href="{{ path('dossier_pret_mon_dossier') }}" class="btn btn-primary">Voir mes dossiers</a>
		</div>
	</div>

	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
    {{ include('dossier_pret/_form.html.twig') }}


   <script>

	   $('#dossier_pret_attestationAssurance1').on('change',function(){
		   //get the file name
		   let fileName = $(this).val().split('\\').pop();
		   //replace the "Choose a file" label
		   $(this).next('.custom-file-label').html(fileName);
	   })
	   $('#dossier_pret_carteEtudiant1').on('change',function(){
		   //get the file name
		   let fileName = $(this).val().split('\\').pop();
		   //replace the "Choose a file" label
		   $(this).next('.custom-file-label').html(fileName);
	   })
   </script>
{% endblock %}
