{% extends 'base.html.twig' %}

{% block title %}Création dossier{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <h3>Création du dossier de prêt - groupe</h3>
            <h5><a href="{{ path('dossier_pret_new') }}">Demande de prêt personnel</a></h5>
        </div>
        <div class="col-6 text-right">
            Déjà un dossier en cours?
            <a href="{{ path('dossier_pret_mon_dossier') }}" class="btn btn-primary">Voir mes dossiers</a>
        </div>
    </div>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    {{ include('dossier_pret/_groupe.html.twig') }}


    <script>
        $('#dossier_pret_groupe_attestationAssurance1').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#dossier_pret_groupe_carteEtudiant1').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#dossier_pret_groupe_attestationAssurance2').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#dossier_pret_groupe_carteEtudiant2').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#dossier_pret_groupe_attestationAssurance3').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#dossier_pret_groupe_carteEtudiant3').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#dossier_pret_groupe_attestationAssurance4').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#dossier_pret_groupe_carteEtudiant4').on('change',function(){
            //get the file name
            let fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
{% endblock %}
