{# ./templates/dossier_pret/pdf.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Impression PDF{% endblock %}

{% block script %}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">{% endblock %}

{% block body %}
    <h1>Résumé du dossier de prêt - {% if  dossier_pret.attestationAssurance2 != 0 %} groupe {% else %} personnel {% endif %}</h1>

    Statut de la demande: <b>{{ dossier_pret.idStatut.statutNom }}</b></br>
    Date de la demande: {{ dossier_pret.dateDemande ? dossier_pret.dateDemande|date('d/m/Y') : '' }} </br>
    Fin de la période de prêt:
    {% if  dossier_pret.idDureePret is not null %}{{ dossier_pret.idDureePret.dateFin ? dossier_pret.idDureePret.dateFin|date('d/m/Y') : '' }}{% endif %}</br>


    L'étudiant:
    <ul>
        <li>Nom: {{ dossier_pret.IdEtudiant.nom }}</li>
        <li>Prénom: {{ dossier_pret.IdEtudiant.prenom }}</li>
        <li>Numéro étudiant: {{ dossier_pret.IdEtudiant.numero }}</li>
        <li>Email: {{ dossier_pret.IdEtudiant.email }}</li>
        <li>Assurance: {{ dossier_pret.attestationAssurance1 }}</li>
        {% if  dossier_pret.attestationAssurance2 != 0 %}
            <li>Assurance 2: {{ dossier_pret.attestationAssurance2 }}</li>
        {% endif %}
        {% if  dossier_pret.attestationAssurance3 != 0 %}
            <li>Assurance 3: {{ dossier_pret.attestationAssurance3 }}</li>
        {% endif %}
        {% if  dossier_pret.attestationAssurance4 != 0 %}
            <li>Assurance 4: {{ dossier_pret.attestationAssurance4 }}</li>
        {% endif %}
        <li>Carte étudiant: {{ dossier_pret.carteEtudiant1 }}</li>
        {% if  dossier_pret.carteEtudiant2 != 0 %}
            <li>Carte 2:{{ dossier_pret.carteEtudiant2 }}</li>
        {% endif %}
        {% if  dossier_pret.carteEtudiant3 != 0 %}
            <li>Carte 3: {{ dossier_pret.carteEtudiant3 }}</li>
        {% endif %}
        {% if  dossier_pret.carteEtudiant4 != 0 %}
            <li>Carte 3:{{ dossier_pret.carteEtudiant4 }}</li>
        {% endif %}
    </ul>

    {% if  dossier_pret.idEquipement is not null %}
        Le matériel:
        <ul>
            <li>Type : {{ dossier_pret.idFamille.nom }}: {{ dossier_pret.idEquipement.idTypeMateriel.nom }}, {{ dossier_pret.idEquipement.idTypeMateriel.description }}</li>
            <li>Numéro unique: {{ dossier_pret.idEquipement.codeBarre }}</li>
        </ul>
    {% endif %}

    Commentaire de l'étudiant: {{ dossier_pret.commentaireEtudiant }} </br>
    Commentaire de l'administration: {{ dossier_pret.commentaireAdministration }}

{% endblock %}
