{% extends 'base.html.twig' %}

{% block title %}Responsable{% endblock %}

{% block body %}
    <div class="">
        <h1>Liste des dossiers en attentes de validation</h1>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="master" id="inlineRadio2" value="" checked="">
            <label class="form-check-label" for="inlineRadio2">All</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="master" id="inlineRadio1" value="MIAGE">
            <label class="form-check-label" for="inlineRadio1">MIAGE</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="master" id="inlineRadio2" value="ISRI">
            <label class="form-check-label" for="inlineRadio2">ISRI</label>
        </div>
        <table class="table table-sm table-striped table-bordered" id="table">
            <thead class="thead-light text-center">
            <tr>
                <th>Date de la demande</th>
                <th>Information étudiant</th>
                <th>Matériel demandé</th>
                <th>Attestation et carte (PDF)</th>
                <th>Commentaire de l'étudiant</th>
                <th>Date de fin demandée</th>
                <th>Commentaire administration</th>
                <th>Statut</th>
                <th>Durée</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for dossier_pret in dossier_prets %}
                <tr>
                    <td>{{ dossier_pret.dateDemande ? dossier_pret.dateDemande|date('d/m/Y') : '' }}</td>
                    <td>
                        {% if  dossier_pret.IdEtudiant is not null %}
                            {% set person = dossier_pret.IdEtudiant %}
                        {% endif %}
                        {% if  dossier_pret.IdProfesseur is not null %}
                            {% set person = dossier_pret.IdProfesseur %}
                        {% endif %}
                        <div class="container-fluid">
                            <div class="row">
                                {{ person.nom }}
                                {{ person.prenom }}
                                /  {{ dossier_pret.formation }}
                            </div>
                            <div class="row">
                                {{ person.email }}
                            </div>
                            {% if  dossier_pret.IdEtudiant is not null %}
                                <div class="row">
                                    {{ person.numero }}
                                </div>
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ dossier_pret.idFamille.nom }}</td>
                    <td>
                        {% if  dossier_pret.IdEtudiant is not null %}
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li><a href="{{ asset('uploads/attestation/' ~ dossier_pret.attestationAssurance1 ) }}" target="_blank">Attestation 1</a></li>
                                        {% if  dossier_pret.attestationAssurance2 != 0 %}
                                            <li><a href="{{ asset('uploads/attestation/' ~ dossier_pret.attestationAssurance2 ) }}" target="_blank">Attestation 2</a></li>
                                        {% endif %}
                                        {% if  dossier_pret.attestationAssurance3 != 0 %}
                                            <li><a href="{{ asset('uploads/attestation/' ~ dossier_pret.attestationAssurance3 ) }}" target="_blank">Attestation 3</a></li>
                                        {% endif %}
                                        {% if  dossier_pret.attestationAssurance4 != 0 %}
                                            <li><a href="{{ asset('uploads/attestation/' ~ dossier_pret.attestationAssurance4 ) }}" target="_blank">Attestation 4</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul>
                                        <li><a href="{{ asset('uploads/carte/' ~ dossier_pret.carteEtudiant1 ) }}" target="_blank">Carte 1</a></li>
                                        {% if  dossier_pret.carteEtudiant2 != 0 %}
                                            <li><a href="{{ asset('uploads/carte/' ~ dossier_pret.carteEtudiant2 ) }}" target="_blank">Carte 2</a></li>
                                        {% endif %}
                                        {% if  dossier_pret.carteEtudiant3 != 0 %}
                                            <li><a href="{{ asset('uploads/carte/' ~ dossier_pret.carteEtudiant3 ) }}" target="_blank">Carte 3</a></li>
                                        {% endif %}
                                        {% if  dossier_pret.carteEtudiant4 != 0 %}
                                            <li><a href="{{ asset('uploads/carte/' ~ dossier_pret.carteEtudiant4 ) }}" target="_blank">Carte 4</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ dossier_pret.commentaireEtudiant }}</td>
                    <td>{{ dossier_pret.dateFinSouhaite ? dossier_pret.dateFinSouhaite|date('d/m/Y') : '' }}</td>
                    <td>{{ dossier_pret.commentaireAdministration }}</td>
                    <td>{{ dossier_pret.idStatut.statutNom }}</td>
                    {% if dossier_pret.idDureePret.nom is defined %}
                        <td>{{ dossier_pret.idDureePret.nom }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <td class="text-center">
                        {% if dossier_pret.idStatut.id == 1 or dossier_pret.idStatut.id == 2 or dossier_pret.idStatut.id == 9 %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dureeModal" onclick="listDuree(true, '{{ dossier_pret.id }}')">Valider</button>
                        <!--<a href="{{ path('dossier_pret_valide_responsable', {'id': dossier_pret.id}) }}">Valider</a>-->
                        <!--<a href="{{ path('dossier_pret_rejete_responsable', {'id': dossier_pret.id}) }}">Rejeter</a>-->
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#commentaireModal" onclick="setIdCommentaire('{{ dossier_pret.id }}')">Rejeter</button>
                        {% endif %}
                        <a href="{{ path('dossier_pret_pdf', {'idDossier': dossier_pret.id}) }}">
                            <svg class="bi bi-file-text" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M4.5 10.5A.5.5 0 015 10h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 8h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 6h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 4h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="18">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="dureeModal" tabindex="-1" role="dialog" aria-labelledby="dureeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dureeModalLabel">Choix durée</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select id="select">
                        <option></option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" type="submit" onclick="selectionDuree()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="commentaireModal" tabindex="-1" role="dialog" aria-labelledby="commentaireModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentaireModalLabel">Commentaire rejet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="commentaire"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" type="submit" onclick="commentaireDossier()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>

    <script src={{ asset('assets/js/dataTables.buttons.min.js') }}></script>
    <script src={{ asset('assets/js/jszip.min.js') }}></script>
    <script src={{ asset('assets/js/buttons.html5.min.js') }}></script>
    <script src="{{ asset('assets/js/date-euro.js') }}"></script>

    <script>

        idDossier = null;
        valide = false;

        $(document).ready( function () {
            var table = $('#table');

            table.DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                dom:
                    "<'row'<'col-sm-3'B>>"+
                    "<'row'<'col-sm-3'l><'col-sm-6 text-center'><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: ['excel'],
                columnDefs: [
                    { type: 'date-euro', targets: 0 }
                ],
                aaSorting: [[0, 'desc']]
            } );

            $('input[name=master]').on('change', function () {
                //build a regex filter string with an or(|) condition
                var master = $('input[name=master]:checked').val();

                //filter in column 1, with an regex, no smart filtering, not case sensitive
                table.DataTable().column(1).search(master, false, false).draw(false);
            });
        } );


        function listDuree(valideBool, id){
            valide = valideBool
            idDossier = id;
            chemin = "/duree/pret/get/list";
            let dropdown = $('#select');
            dropdown.empty();
            lineE = "";

            $.getJSON(chemin, function (data) {
                $.each(data, function (key, entry) {
                lineE = entry.nom.concat(" - "+entry.date_fin);
                dropdown.append($('<option></option>').attr('value', entry.id).text(lineE));
                })
            });
            
        }

        function selectionDuree(){
            idDuree = document.getElementById("select").value;
            chemin = "/dossier/pret/duree/"+idDossier+"/"+idDuree;

            $.get(chemin).done(function() {
                window.location.reload(false);
            });
            
        }

        function setIdCommentaire(id){
            idDossier = id;
        }

        function commentaireDossier(){
            chemin = "/dossier/pret/set/commentaire/"+idDossier;
            commentaire = document.getElementById("commentaire").value;
            $.post( chemin, { "commentaire": commentaire } ).done(function() {
                window.location.reload(false);
            });
            
        }


    </script>


{% endblock %}
