{% extends 'base.html.twig' %}

{% block title %}DossierPret{% endblock %}

{% block body %}
    <h1>DossierPret</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dossier_pret.id }}</td>
            </tr>
            <tr>
                <th>AttestationAssurance1</th>
                <td>{{ dossier_pret.attestationAssurance1 }}</td>
            </tr>
            <tr>
                <th>AttestationAssurance2</th>
                <td>{{ dossier_pret.attestationAssurance2 }}</td>
            </tr>
            <tr>
                <th>AttestationAssurance3</th>
                <td>{{ dossier_pret.attestationAssurance3 }}</td>
            </tr>
            <tr>
                <th>AttestationAssurance4</th>
                <td>{{ dossier_pret.attestationAssurance4 }}</td>
            </tr>
            <tr>
                <th>CarteEtudiant1</th>
                <td>{{ dossier_pret.carteEtudiant1 }}</td>
            </tr>
            <tr>
                <th>CarteEtudiant2</th>
                <td>{{ dossier_pret.carteEtudiant2 }}</td>
            </tr>
            <tr>
                <th>CarteEtudiant3</th>
                <td>{{ dossier_pret.carteEtudiant3 }}</td>
            </tr>
            <tr>
                <th>CarteEtudiant4</th>
                <td>{{ dossier_pret.carteEtudiant4 }}</td>
            </tr>
            <tr>
                <th>DetailDemande</th>
                <td>{{ dossier_pret.detailDemande }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ dossier_pret.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ dossier_pret.nom }}</td>
            </tr>
            <tr>
                <th>MailEtudiant</th>
                <td>{{ dossier_pret.mailEtudiant }}</td>
            </tr>
            <tr>
                <th>DateDemande</th>
                <td>{{ dossier_pret.dateDemande ? dossier_pret.dateDemande|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CommentaireEtudiant</th>
                <td>{{ dossier_pret.commentaireEtudiant }}</td>
            </tr>
            <tr>
                <th>DateFinSouhaite</th>
                <td>{{ dossier_pret.dateFinSouhaite ? dossier_pret.dateFinSouhaite|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CommentaireAdministration</th>
                <td>{{ dossier_pret.commentaireAdministration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dossier_pret_index') }}">back to list</a>

    <a href="{{ path('dossier_pret_edit', {'id': dossier_pret.id}) }}">edit</a>

    {{ include('dossier_pret/_delete_form.html.twig') }}
{% endblock %}
