{% extends 'base.html.twig' %}

{% block title %}Retour{% endblock %}

{% block body %}
    <h1>Dossier clôturé</h1>

    <table class="table table-bordered table-sm table-striped" id="table">
        <thead class="thead-light text-center">
        <tr>
            <th>Statut</th>
            <th>Date de demande</th>
            <th>Durée du prêt</th>
            <th>Information étudiant</th>
            <th>Equipement</th>

        </tr>
        </thead>
        <tbody>
        {% for dossier_pret in dossier_prets %}
            <tr>
                <td>{{ dossier_pret.idStatut.statutNom }}</td>
                <td>{{ dossier_pret.dateDemande ? dossier_pret.dateDemande|date('d/m/Y') : '' }}</td>
                {% if dossier_pret.idDureePret.nom is defined %}
                    <td>{{ dossier_pret.idDureePret.nom }}</td>
                {% else %}
                    <td></td>
                {% endif %}

                <td>
                    {% if  dossier_pret.IdEtudiant is not null %}
                        {% set person = dossier_pret.IdEtudiant %}
                    {% endif %}
                    {% if  dossier_pret.IdProfesseur is not null %}
                        {% set person = dossier_pret.IdProfesseur %}
                    {% endif %}
                    <div class="container-fluid">
                        <div class="row">
                            {{ person.nom }}
                            {{ person.prenom }}
                            /  {{ dossier_pret.formation }}
                        </div>
                        <div class="row">
                            {{ person.email }}
                        </div>
                        {% if  dossier_pret.IdEtudiant is not null %}
                            <div class="row">
                                {{ dossier_pret.IdEtudiant.numero }}
                            </div>
                        {% endif %}
                    </div>

                </td>

                <td>
                        {{ dossier_pret.idFamille.nom }} - {{ dossier_pret.archiveEquipement }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready( function () {
            $('#table').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            } );
        } );
    </script>


{% endblock %}
