{% extends 'base.html.twig' %}

{% block title %}Modification type materiel{% endblock %}

{% block body %}
    <h1>Modification du type de matériel</h1>

    {{ include('type_materiel/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('dossier_pret_informatique', {"page": "type_materiel"}) }}">Retour à la liste</a>

    {{ include('type_materiel/_delete_form.html.twig') }}
{% endblock %}
