
<h3>Liste des types de matériel</h3>
<a href="{{ path('type_materiel_new') }}">Ajouter un nouveau type</a>
<table class="table table-sm table-bordered" id="table">
    <thead class="thead-light text-center">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Nom famille</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for type_materiel in type_materiels %}
        <tr>
            <td>{{ type_materiel.nom }}</td>
            <td>{{ type_materiel.description }}</td>
            <td>{{ type_materiel.idFamille.nom }}</td>
            <td class="text-center">
                <a class="btn btn-warning" href="{{ path('type_materiel_edit', {'id': type_materiel.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



