{% extends 'base.html.twig' %}

{% block title %}Ajouter type materiel{% endblock %}

{% block body %}

    <h1>Ajouter un type de materiel</h1>
    <a href="{{ path('dossier_pret_dashboard', {"page": "type_materiel"}) }}">Retour à la liste</a>
    {{ include('type_materiel/_form.html.twig') }}


{% endblock %}
