{% extends 'base.html.twig' %}

{% block title %}TypeMateriel{% endblock %}

{% block body %}
    <h1>TypeMateriel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_materiel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_materiel.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ type_materiel.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_materiel_index') }}">back to list</a>

    <a href="{{ path('type_materiel_edit', {'id': type_materiel.id}) }}">edit</a>

    {{ include('type_materiel/_delete_form.html.twig') }}
{% endblock %}
