<form method="post" action="{{ path('acces_materiel_delete', {'id': acces_materiel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ acces_materiel.id) }}">
    <button class="btn">Delete</button>
</form>
