{% extends 'base.html.twig' %}

{% block title %}Edit AccesMateriel{% endblock %}

{% block body %}
    <h1>Edit AccesMateriel</h1>

    {{ include('acces_materiel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('acces_materiel_index') }}">back to list</a>

    {{ include('acces_materiel/_delete_form.html.twig') }}
{% endblock %}
