{% extends 'base.html.twig' %}

{% block title %}AccesMateriel index{% endblock %}

{% block body %}
    <h1>AccesMateriel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomAcces</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acces_materiel in acces_materiels %}
            <tr>
                <td>{{ acces_materiel.id }}</td>
                <td>{{ acces_materiel.nomAcces }}</td>
                <td>
                    <a href="{{ path('acces_materiel_show', {'id': acces_materiel.id}) }}">show</a>
                    <a href="{{ path('acces_materiel_edit', {'id': acces_materiel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('acces_materiel_new') }}">Create new</a>
{% endblock %}
