{% extends 'base.html.twig' %}

{% block title %}New AccesMateriel{% endblock %}

{% block body %}
    <h1>Create new AccesMateriel</h1>

    {{ include('acces_materiel/_form.html.twig') }}

    <a href="{{ path('acces_materiel_index') }}">back to list</a>
{% endblock %}
