{% extends 'base.html.twig' %}

{% block title %}AccesMateriel{% endblock %}

{% block body %}
    <h1>AccesMateriel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acces_materiel.id }}</td>
            </tr>
            <tr>
                <th>NomAcces</th>
                <td>{{ acces_materiel.nomAcces }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('acces_materiel_index') }}">back to list</a>

    <a href="{{ path('acces_materiel_edit', {'id': acces_materiel.id}) }}">edit</a>

    {{ include('acces_materiel/_delete_form.html.twig') }}
{% endblock %}
