<!DOCTYPE html>
<html>
<head>
	{% block script %}
		<script src={{ asset('assets/js/jquery.js') }}></script>
		<script src={{ asset('assets/js/bootstrap.min.js') }}></script>
		<script src={{ asset('assets/js/jquery.dataTables.js') }}></script>
		<script src={{ asset('assets/js/dataTables.bootstrap4.min.js') }}></script>
	{% endblock %}
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheets %}

		<link rel="stylesheet" href={{ asset("assets/css/bootstrap.min.css") }}>
		<link rel="stylesheet" href={{ asset("assets/css/dataTables.bootstrap4.min.css") }}>
{#		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}


{#		<link rel="stylesheet" type="text/css" href="{{ asset('assets/main.css' ) }}">#}
	{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3 border-bottom border-secondary">
	<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
		<a class="navbar-brand" href="{{ path('dossier_pret_redirect') }}">Empruntica |</a>
		<ul class="navbar-nav mr-auto text-center">
			{% if is_granted('ROLE_SECRETARIAT_MIAGE') or is_granted('ROLE_SECRETARIAT_ISRI') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('dossier_pret_dashboard_administration', {"page": "etudiant"}) }}">Administration</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_INFORMATIQUE') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('dossier_pret_dashboard', {"page": "inventaire"}) }}">Matériel</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_SECRETARIAT_MIAGE')
				or is_granted('ROLE_SECRETARIAT_ISRI')
				or is_granted('ROLE_RESPONSABLE_MIAGE')
				or is_granted('ROLE_RESPONSABLE_ISRI')
			%}
				<li>
					<a target="_blank" class="nav-link" href="{{ asset('assets/file/scan_fiche_pret.pdf') }}">Imprimer une fiche de prêt</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_SECRETARIAT_MIAGE') or is_granted('ROLE_SECRETARIAT_ISRI') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('dossier_pret_secretariat') }}">Scolarité</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_RESPONSABLE_MIAGE') or is_granted('ROLE_RESPONSABLE_ISRI') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('dossier_pret_responsable') }}">Responsable</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_RESPONSABLE_MIAGE') or is_granted('ROLE_RESPONSABLE_ISRI')) %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('duree_pret_index') }}">Durée prêt</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('dossier_pret_terminer') }}">Archive</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_INFORMATIQUE') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('dossier_pret_affectation') }}">Affectation équipement</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('dossier_pret_attente_etudiant') }}">Attente étudiant</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('dossier_pret_retour') }}">Retour étudiant</a>
				</li>
				<li>
					<a class="nav-link" href="{{ path('professeur_form') }}">Ajout membre UPJV</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_ETUDIANT') or is_granted('ROLE_PROFESSEUR') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('dossier_pret_mon_dossier') }}">Mon compte</a>
				</li>
				<li>
					<a class="nav-link" href="{{ path('dossier_pret_new') }}">Faire une demande</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_INFORMATIQUE') or is_granted('ROLE_SECRETARIAT_MIAGE') or is_granted('ROLE_SECRETARIAT_ISRI') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('etudiant_form') }}">Faire une demande pour un étudiant</a>
				</li>
			{% endif %}
		</ul>
	</div>

	<div class="navbar-collapse collapse w-50 order-3 dual-collapse2">
		<ul class="navbar-nav ml-auto">


			{% if (app.user) %}
				<li class="nav-item">
					<p>{{ app.user.username ?? 'anonyme' }}</p>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a href="{{ path('app_login') }}" class="btn btn-secondary">Espace administration</a>
				</li>

			{% endif %}
		</ul>
	</div>
</nav>
<div class="container-fluid">
{% block body %}{% endblock %}
</div>
</body>
</html>
