{{ form_start(form) }}

    <div class="row">

        <div class="col">
            <div class="row">
                <div class="col">E-mail</div>
                <div class="col">{{ form_widget(form.email) }}</div>
            </div>
            <div class="row mt-3">
                <div class="col"><label> Mot de passe </label></div>
                <div class="col">{{ form_widget(form.plainPassword) }}</div>
            </div>
            <div class="row mt-3">
                <div class="col"><label> Rôles </label></div>
                <div class="col">{{ form_widget(form.roles) }}</div>
            </div>
        </div>

    </div>


    <button class="btn btn-primary float-right mt-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
