{% extends 'base.html.twig' %}

{% block title %}Modification utilisateur{% endblock %}

{% block body %}
    <h3>Modification de l'utilisateur</h3>
    <a href={{ path('dossier_pret_dashboard_administration', {"page": "utilisateur"}) }}>Retour à la liste</a>
    <div class="row">
        <div class="col-4">
            {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
            <div class="mt-3"> {{ include('user/_delete_form.html.twig') }}</div>
        </div>
    </div>






{% endblock %}
