
<h3>Gestion des comptes locaux</h3>
<a href="{{ path('app_register') }}">Ajouter un compte</a>
<table class="table table-sm table-bordered" id="table">
    <thead class="thead-light text-center">
        <tr>
            <th>E-mail</th>
            <th>Rôles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            <td class="text-center">
                <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



