{# templates/emails/attente_etudiant.html.twig #}


<p>
    Bonjour {{ dossierPret.idEtudiant.nom }} {{ dossierPret.idEtudiant.prenom }}, <br><br>
    Votre équipement de prêt vous attend au service informatique.<br>

    Afin d'aider le service informatique à trouver plus rapidement votre équipement veuillez penser à vous munir des informations suivantes: <br>
    Nom de l'équipement : {{ dossierPret.idFamille.nom }}, {{ dossierPret.idEquipement.idTypeMateriel.nom }}, {{ dossierPret.idEquipement.idTypeMateriel.description }}<br>
    Numéro unique: {{ dossierPret.idEquipement.codeBarre }}<br>

    Vous devez rendre votre prêt avant le:
    {{ dossierPret.idDureePret.dateFin ? dossierPret.idDureePret.dateFin|date('d/m/Y') : '' }}<br><br>

    Pensez également à présenter votre carte étudiante.<br>

    Cordialement,<br>


    La plateforme de prêt
</p>


