{# templates/emails/attente_etudiant_no_equipment.html.twig #}


<p>
    Bonjour {{ dossierPret.idEtudiant.nom }} {{ dossierPret.idEtudiant.prenom }}, <br><br>
    Votre équipement de prêt vous attend au service informatique.<br>

    L'équipement vous sera affecter lors du rendez vous avec le servcice informatique <br>

    Vous devez rendre votre prêt avant le:
    {{ dossierPret.idDureePret.dateFin ? dossierPret.idDureePret.dateFin|date('d/m/Y') : '' }}<br><br>

    Pensez également à présenter votre carte étudiante.<br>

    Cordialement,<br>


    La plateforme de prêt
</p>


