{# templates/emails/nouveau_etudiant.html.twig #}

<html lang="fr">


    <head>
        <link rel="stylesheet" href={{ asset("assets/css/bootstrap.min.css") }}>
        <title>email</title>
    </head>
    <body>
        <p>
            Bonjour, <br><br>

            Un nouvel étudiant vient de faire une demande d'accès à la plateforme de prêt Empruntica.<br>

            Informations étudiant:
        <ul>
            <li>
                Nom prénom: {{ etudiant.nom }} {{ etudiant.prenom }}
            </li>
            <li>
                Numéro: {{ etudiant.numero }}
            </li>
            <li>
                Adresse-mail: {{ etudiant.email }}
            </li>
        </ul><br>
        Afin de valider son compte vous devez vous rendre dans l'espace Administration puis Activation. <br>

        Cordialement,<br>


        La plateforme de prêt, Empruntica
        </p>
    </body>
</html>



