{# templates/emails/rejet_etudiant.html.twig #}


<p>
    Bonjour {{ dossierPret.nom }} {{ dossierPret.prenom }}, </br></br>
    Votre demande de prêt a été rejeté par l'administration.</br>
    Raison du rejet:</br>
    {{ dossierPret.commentaire }}
    </br>
    Cordialement,</br>


    La plateforme de prêt
</p>


