<h3>Etudiant</h3>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="master" id="inlineRadio2" value="" checked="">
    <label class="form-check-label" for="inlineRadio2">All</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="master" id="inlineRadio1" value="MIAGE">
    <label class="form-check-label" for="inlineRadio1">MIAGE</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="master" id="inlineRadio2" value="ISRI">
    <label class="form-check-label" for="inlineRadio2">ISRI</label>
</div>
<table class="table table-sm table-bordered" id="table">
    <thead class="thead-light text-center">
    <tr>
        <th>Numéro</th>
        <th>Adresse-mail</th>
        <th>Nom prénom</th>
        <th>Formation</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for etudiant in etudiants %}
        <tr>
            <td>{{ etudiant.numero }}</td>
            <td>{{ etudiant.email }}</td>
            <td>{{ etudiant.nom }} {{ etudiant.prenom }}</td>
            <td>{{ etudiant.formation }}</td>
            <td class="text-center">
                {% if etudiant.activate == false %}
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-warning" href={{ path('etudiant_valide', {'id': etudiant.id}) }}>Valider</a>
                        </div>
                        <div class="col">
                            <form method="post" action="{{ path('etudiant_delete', {'id': etudiant.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir refuser cet étudiant?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etudiant.id) }}">
                                <button class="btn btn-danger">Refuser</button>
                            </form>
                        </div>
                    </div>


                {% endif %}

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



